* {
    font-family: 'Gowun Dodum', sans-serif;
}
body {
    background: #141414;
}
a {
    color: #fff;
    text-decoration: none;
    outline: none;
}

a:hover,
a:active {
    text-decoration: none;
    color: #E50327;
    background-color: none;
}

/* 최상단 상태바 */
.status-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 3px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    z-index: 2;
    height: 89px;

}

.status-bar__column {
    display: flex;
    justify-content: space-between;
    width: 33%;
    padding: 20px 20px 20px 20px;
}
.logo-img {
    padding-top: 15px;
    width: 180px;
    position: relative;
    justify-self: left;
}

.mytitle-container {
    width: 100%;
    height: 700px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-position: center;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 1px -1px gray;
}

.mytitle-container-h {
    text-align: center;
}
.mytitle-img{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, ), rgba(0, 0, 0, )), url('https://github.com/Junghwan1106/1_JO_SPASIPA/blob/main/images/PICK.png?raw=true');
    background-position: center;
    background-size: cover;
}
.mytitle-h1 {
    font-size: 30px; color : red;
}
.mytitle-h2 {
    font-size: 18px;
}
.mytitle-h3 {
    font-size: 18px;
}
.pick-btn {
    width: 100px;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 4px;
    background-color: rgba(70, 69, 70, 0.151);
    color: rgb(255, 0, 255);


    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);

    margin-top: 10px;
}

.pick-btn:hover {
    border: 2px solid white;
}

.tubes {
    margin: 20px auto 0px auto;
    width: 95%;
    max-width: 2000px;
}
.row {
    overflow: visible;
}

.mypost {
    width: 95%;
    max-width: 500px;
    margin: 20px auto 0px auto;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px gray;

    display: none;
}

.form-floating {
    color: red;

}

.input-group-text{
    color: rgb(255, 0, 255);
}
.form-select{
    color:rgb(255, 0, 221);
}
.mybtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.mybtns > button {
    margin-right: 10px;
}

.top {
    position: relative;
    margin-top: -10px;
    margin-bottom: 30px;
    
}
.top-title {
    margin: 10px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

.top-tubes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 3px;
    box-sizing: border-box;
    margin: 10px;
}

.top-tube {
    margin-right: 70px;
    cursor: pointer;
}

.top-tube > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: -15%;
    border-radius: 10px;
}

#view-all {
    position: fixed;
    bottom: 20px;
    left: 50%;
    z-index: 3;
}

.tubes {
    margin-top: 30px;
}
.col {
    position: relative;
}
.card{
    border: none;
    box-shadow: 0 0 5px 0 rgba(247, 242, 242, 0.5);
    transition: all 0.2s ease-in-out;
}
.card:hover{
    scale: 1.02;
}
.card>img{
    cursor: pointer;
}
.card-body {
    background: #141414;
    color: white;
    padding: 13px;
}
.title-info {
    display: flex;
    justify-content: left;
    align-items: center;
}
.title-info > img {
    width: 50px;
}
.mycomment {
    margin-top: 5px;
    color: gray;
}
.user {
    position: absolute;
    bottom: -5px;
    left: 60%;
}
.like-btn {
    border-radius: 15px;
    border: 1px solid rgba(20, 20, 20, 0.3);
    box-shadow: 0 0 4px 0 rgba(165, 164, 164, 0.3);
    background: none;
    color: white;
}
.like-btn-done{
    
}
.like-btn>i{
    margin: 0 3px;
    color: #ff1c1c;
}
.likes {
    margin: 0 3px;
}
