<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <title>스파싯파 피디아</title>
    <!-- css 링크를 걸 때 아래와 같이 해줘야합니다. static이라는 폴더도 생성해줘야 합니다. -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='modal.css')}}">
    <script src="{{url_for('static',filename='modal.js')}}"></script>
    <script src="https://kit.fontawesome.com/e34bdfda62.js" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            auth();
        });

        function auth() {
            const token = $.cookie('mytoken');
            $.ajax({
                type: "GET",
                url: "/auth",
                data: {
                    mytoken: token
                },
                success: function (res) {
                    if (res["result"] == "success") {
                        // console.log("succ");
                        listingTop();
                        listing();
                    } else {
                        alert('로그인 부탁드립니다!');
                        window.location.href = '/login';
                    }
                }
            })
        }
        function listingTop() {
            fetch('/main/top').then((res) => res.json()).then((data) => {
                let rows = data['result']
                console.log(rows)
                $('#top-tubes').empty()
                rows.forEach((a, i) => {
                    if (i > 2) return;
                    let order_num = a['num']
                    let image = a['image']
                    let url = a['url']
                    let temp_html = `
                        <div class="top-tube" id='${url}' onclick="openModal(this)">
                            <img src="https://www.netflix.com/tudum/top10/images/big_numbers/${i + 1}.png" alt="number">
                            <img src="${image}"
                                alt="tube image">
                        </div>
                    `
                    $('#top-tubes').append(temp_html)
                })

            })
        }

        function listing() {
            fetch('/main').then((res) => res.json()).then((data) => {
                let rows = data['result']
                console.log(rows)

                $('#tube-box').empty()
                rows.forEach((a, i) => {
                    let id = a['_id']
                    let url = a['url']
                    let title = a['title']
                    let image = a['image']
                    let desc = a['desc']
                    let comment = a['comment']
                    let star = a['star']
                    let tube_likes = a['likes']
                    let star_repeat = '⭐'.repeat(star)
                    let done_like = a['done']

                    let temp_html = `
                            <div class="col">
                                <div class="card h-100">
                                    <img src="${image}"
                                        id=${url} onclick="openModal(this)" class="card-img-top">
                                    <div class="card-body" >
                                        <div class="title-info">
                                            <h5 class="card-title">${title}</h5>
                                        </div>
                                        <p class="mycomment">${comment}</p>
                                        <p class="star">${star_repeat}</p>
                                        <p class="user">작성자</p>
                                        ${+done_like == 1 ? `<button onclick="like(${tube_likes},'${id}',${done_like})" class="like-btn"> <i id="like-icon" class='fa-solid fa-heart'></i>` : `<button onclick="like(${tube_likes},'${id}',${done_like})" class="like-btn like-btn-done">
                                            <i id="like-icon" class='fa-regular fa-heart'></i>`}
                                        <span class="likes">${tube_likes}</span>
                                    </div >
                                </div >
                            </div >
                    `
                    $('#tube-box').append(temp_html)
                })
            })
        }


        function posting() {

            let url = $('#url').val()
            let comment = $('#comment').val()
            let star = $('#star').val()

            let formData = new FormData();
            formData.append("url_give", url);
            formData.append("comment_give", comment);
            formData.append("star_give", star);

            fetch('/main', {
                method: "POST",
                body: formData
            }).then((res) => res.json()).then((data) => {
                alert(data['msg'])
                window.location.reload()
            })
        }

        function open_box() {
            $('#post-box').show()
        }

        function close_box() {
            $('#post-box').hide()
        }

        function like(tube_likes, id, done_like) {
            console.log("~~~~~");
            $.ajax({
                type: "POST",
                url: "/main/likes",
                data: {
                    like_give: tube_likes,
                    id_give: id,
                    done_give: done_like
                },
                success: function () {
                    window.location.reload()
                }
            });
        }
    </script>
</head>

<body>
    <!-- 전체보기 버튼 -->
    <button id="view-all" class="btn btn-dark">더보기</button>
    <!-- 모달 부분 -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">
                &times;
            </span>
            <iframe id="myIframe" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>

    <!-- 최상단 상태바 -->
    <div class="status-bar">
        <div class="status-bar__column">
            <div>
                <img class="logo-img" src="https://github.com/Junghwan1106/1_JO_SPASIPA/blob/main/SPASIPA.png?raw=true"
                    alt="logo">
            </div>
            <div>
            </div>

        </div>
        <div class="status-bar__column">

        </div>
        <div class="status-bar__column">
            <div></div>
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
            </a>
        </div>
    </div>

    <!-- 타이틀 창 -->
    <div class="mytitle">

        <div class="mytitle-container">
            <div>

            </div>
            <div class="mytitle-container-h">
                <h1 class="mytitle-h1">최애의 픽</h1>
                <h2 class="mytitle-h2">당신의 유튜브 픽은?</h2>
            </div>
            <div>
                <button class="pick-btn" onclick="open_box()">Pick</button>
            </div>

        </div>


    </div>

    <!-- 기록하기 창 -->
    <div class="mypost" id="post-box">
        <div class="post-container">
            <div class="form-floating mb-3">
                <input id="url" type="email" class="form-control" placeholder="name@example.com">
                <label> YouTube URL </label>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">별점</label>
                <select class="form-select" id="star">
                    <option selected>-- 선택하기 --</option>
                    <option value="1">⭐</option>
                    <option value="2">⭐⭐</option>
                    <option value="3">⭐⭐⭐</option>
                    <option value="4">⭐⭐⭐⭐</option>
                    <option value="5">⭐⭐⭐⭐⭐</option>
                </select>
            </div>
        </div>
        <div class="form-floating">
            <textarea id="comment" class="form-control" placeholder="Leave a comment here"></textarea>
            <label for="floatingTextarea2">코멘트</label>
        </div>
        <div class="mybtns">
            <button onclick="posting()" type="button" class="btn btn-dark">기록하기</button>
            <button onclick="close_box()" type="button" class="btn btn-dark">닫기</button>
        </div>
    </div>

    <!-- 영상 목록 -->
    <div>
        <!-- 탑5 목록 -->
        <div class="top">
            <div class="top-title">
                TOP N
            </div>
            <div id="top-tubes">
                <!-- <div class="top-tube" id="https://www.youtube.com/watch?v=NkxSI_nUpyc" onclick="openModal(this)">
                    <img src="https://www.netflix.com/tudum/top10/images/big_numbers/1.png" alt="number">
                    <img src="https://i.ytimg.com/vi/SMI8DuSyYhw/hq720.jpg?sqp=-…AFwAcABBg==&rs=AOn4CLBqdz9JgBJhZSniolQfBnCRD2cVFA"
                        alt="tube image">
                </div> -->
                <h2 style="color: white"> loading ... </h2>
            </div>

        </div>

        <!-- 튜브 목록 -->
        <div class="tubes">
            <div class="row row-cols-1 row-cols-md-5 g-4" id="tube-box">
                <div class="col">
                    <!-- <div class="card h-100">
                        <img src="https://i.ytimg.com/vi/ktZ3XR887wk/hq720.jpg?sqp=-…AFwAcABBg==&rs=AOn4CLBCCLDe2KYMfOt7yOV06cdTiGqVbA"
                            class="card-img-top">
                        <div class="card-body">
                            <div class="title-info">
                                <img src="https://yt3.ggpht.com/ytc/AGIKgqMOLbjaL9SFdVNEhFJ5zjNHyD4bT83Um6YRINj_Dg=s68-c-k-c0x00ffffff-no-rj"
                                    alt="">
                                <h5 class="card-title">영화 제목이 들어갑니다</h5>
                            </div>
                            <p class="mycomment">나의 한줄 평을 씁니다</p>
                            <p class="star">⭐⭐⭐</p>
                            <p class="user">작성자</p>
                            <button onclick="like(url)" class="like-btn">
                                <i id="like-icon" class="fa-regular fa-heart"></i>
                                <span id="like-num" class="likes">숫자</span>
                            </button>
                        </div>
                    </div> -->
                    <h2 style="color: white"> loading ... </h2>
                </div>


            </div>
        </div>


    </div>

</body>

</html>