<!doctype html>
<!doctype html>
<html lang="en">

<head>

    <!-- Webpage Title -->
    <title>SPASIPA회원가입</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='register.css')}}">
    <link rel="stylesheet" href="/static/register.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"> -->
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        // 간단한 회원가입 함수입니다.
        // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
        function register() {
            $.ajax({
                type: "POST",
                url: "/api/register",
                data: {
                    id_give: $('#userid').val(),
                    pw_give: $('#userpw').val(),
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/login'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }


    </script>


    </script>

</head>

<body>
    <img class="SPA-picture" src="https://github.com/Junghwan1106/1_JO_SPASIPA/blob/main/SPASIPA.png?raw=true">

    <section class="sign-form">
        <h1>Sign up</h1>
        <form id="form-box">
            <div class="int-area">
                <input type="text" id="user-name" autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
            <div class="namecheck">
                <div class="item" id="check">
                    <input type="button" id="check_id_btn" value="check">
                </div>
                <div class="item" id="state" state="0">
                    중복 확인해주세요!
                </div>
            </div>
            <div class="int-area">
                <input type="password" id="user-pwd" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="btn-area">
                <button type="submit">Submit</button>
            </div>
        </form>
        <div class="caption">
            <p id="join_btn">Are you Join? &nbsp;<a href="login">Login</a></p>
        </div>
    </section>
    <script src="{{url_for('static',filename='register.js')}}"></script>
</body>

</html>